scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/folder-assets-size
        create path (nt:unstructured) /content/dam/folder-assets-size/jcr:content
        set properties on /content/dam/folder-assets-size/jcr:content
        set cq:conf{String} to /conf/folder-assets-size
        set jcr:title{String} to \"Folder Assets Count and Size\"
        end
        "
]
